data/flows.json
[{"id":"32f555dd.fc3a8a","type":"tab","label":"Work Area","disabled":false,"info":""},{"id":"ff3a4f78.6b09","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3264cd06.f1787a","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"f1afe420.cc3768","type":"subflow","name":"Sensor","info":"","category":"","in":[{"x":60,"y":140,"wires":[{"id":"c3a8537.7e4d8b"}]}],"out":[{"x":540,"y":140,"wires":[{"id":"c3a8537.7e4d8b","port":0}]}],"env":[],"color":"#3FADB5","icon":"font-awesome/fa-fax"},{"id":"edae95a5.fa2dc","type":"subflow","name":"Send data from sensor","info":"","category":"","in":[{"x":60,"y":40,"wires":[{"id":"be32c1b8.6fbf3"}]}],"out":[{"x":680,"y":100,"wires":[{"id":"6c443916.22a96","port":0}]}],"env":[],"color":"#DDAA99","outputLabels":["Mqtt out (topic, payload)"]},{"id":"a889a30d.ce9c6","type":"subflow","name":"setSensorConfig","info":"","category":"command","in":[{"x":50,"y":30,"wires":[{"id":"7fad30ed.a6bb98"}]}],"out":[{"x":380,"y":40,"wires":[{"id":"7fad30ed.a6bb98","port":0}]}],"env":[],"color":"#AAAA66"},{"id":"5282c9d0.19e2d","type":"subflow","name":"SensorsReadCommand","info":"","category":"","in":[{"x":40,"y":40,"wires":[{"id":"11eeff0f.5e5231"}]}],"out":[{"x":640,"y":40,"wires":[{"id":"11eeff0f.5e5231","port":0}]}],"env":[],"color":"#DDAA99","outputLabels":["Mqtt in (topic)"]},{"id":"424d80f9.87a878","type":"subflow","name":"SensorSendConfiguration","info":"","category":"","in":[{"x":80,"y":80,"wires":[{"id":"eb82ca41.6d8ed8"}]}],"out":[{"x":440,"y":40,"wires":[{"id":"eb82ca41.6d8ed8","port":0}]}],"env":[],"color":"#DDAA99","inputLabels":["Sensor config"],"outputLabels":["Mqtt out (topic, payload)"]},{"id":"9b3ab9e1.b42c08","type":"subflow","name":"setControllerConfiguration","info":"","category":"command","in":[{"x":40,"y":40,"wires":[{"id":"8fd04c12.c1025"}]}],"out":[{"x":400,"y":40,"wires":[{"id":"8fd04c12.c1025","port":0}]}],"env":[],"color":"#AAAA66","inputLabels":["start setting config"],"outputLabels":["set config is complete"]},{"id":"17887f1c.9e5d01","type":"subflow","name":"ControllerSendConfiguration","info":"","category":"","in":[{"x":50,"y":38,"wires":[{"id":"31b62a61.1df786"}]}],"out":[{"x":380,"y":32,"wires":[{"id":"31b62a61.1df786","port":0}]},{"x":660,"y":80,"wires":[{"id":"76036367.c30404","port":0}]}],"env":[],"color":"#DDAA99","inputLabels":["start sending config"],"outputLabels":["sending config is complete","Mqtt out"]},{"id":"4620e09d.13d448","type":"subflow","name":"setDateTime","info":"","category":"command","in":[{"x":60,"y":40,"wires":[{"id":"eb39dd0.a48052"}]}],"out":[{"x":340,"y":40,"wires":[{"id":"eb39dd0.a48052","port":0}]}],"env":[],"color":"#AAAA66"},{"id":"71129c70.685a7c","type":"subflow","name":"ControllerReadCommand","info":"","category":"","in":[{"x":60,"y":60,"wires":[{"id":"c4feb91e.23852"}]}],"out":[{"x":600,"y":60,"wires":[{"id":"c4feb91e.23852","port":0}]}],"env":[],"color":"#DDAA99","outputLabels":["Mqtt subscribe"]},{"id":"7913b0d2.05e63","type":"subflow","name":"Start timer","info":"","category":"","in":[{"x":40,"y":40,"wires":[{"id":"25f03ed1.c2584a"}]}],"out":[{"x":420,"y":40,"wires":[{"id":"25f03ed1.c2584a","port":0}]}],"env":[],"color":"#DDAA99","outputLabels":["Timer loop"]},{"id":"87fea9bf.23d508","type":"subflow","name":"SendInit","info":"","category":"","in":[{"x":40,"y":48,"wires":[{"id":"1586cd35.23b1bb"}]}],"out":[{"x":340,"y":40,"wires":[{"id":"87fea9bf.23d508","port":0}]},{"x":340,"y":100,"wires":[{"id":"1586cd35.23b1bb","port":0}]},{"x":280,"y":280,"wires":[{"id":"1586cd35.23b1bb","port":1}]},{"x":560,"y":160,"wires":[{"id":"e9f7687f.8c35f8","port":0}]}],"env":[],"color":"#DDAA99","inputLabels":["StartInit"],"outputLabels":["StartSending","StopSending","LoopInteration","Mqtt out"]},{"id":"db31df13.d1f2d8","type":"subflow","name":"ReadDeviceConfig","info":"","category":"","in":[{"x":60,"y":40,"wires":[{"id":"ace159d4.e6c48"}]}],"out":[{"x":340,"y":40,"wires":[{"id":"ace159d4.e6c48","port":0}]}],"env":[{"name":"config","type":"json","value":"{}"}],"color":"#DDAA99"},{"id":"ef3f5696.32ce38","type":"subflow","name":"ControllerSoftware","info":"","category":"","in":[{"x":70,"y":120,"wires":[{"id":"158fcf5e.076769"}]}],"out":[{"x":569,"y":85,"wires":[{"id":"ba00c4c1.39ace8","port":0}]},{"x":619,"y":125,"wires":[{"id":"2d877356.27d184","port":0}]},{"x":710,"y":152,"wires":[{"id":"7a2c1cfe.8ac6cc","port":0}]},{"x":756,"y":176,"wires":[{"id":"7a2c1cfe.8ac6cc","port":1}]},{"x":710,"y":202,"wires":[{"id":"7a2c1cfe.8ac6cc","port":2}]},{"x":740,"y":45,"wires":[{"id":"a7244c53.7f327","port":0}]},{"x":1000,"y":240,"wires":[{"id":"6e58a757.5b5fc","port":"2"}]},{"x":729,"y":485,"wires":[{"id":"92feb9c.8dcbd48","port":"1"}]},{"x":1680,"y":40,"wires":[{"id":"7a2c1cfe.8ac6cc","port":3},{"id":"d33edd23.188318","port":0},{"id":"98ed0f57.e0972","port":1},{"id":"250a8b64.2dcab4","port":0},{"id":"d0af1605.c8be2","port":0}]},{"x":1680,"y":100,"wires":[{"id":"1e36f601.92bcba","port":0},{"id":"cc169d99.0e12b","port":0}]}],"env":[{"name":"ControllerConfig","type":"json","value":"{}"},{"name":"SensorsConfig","type":"json","value":"{}"}],"color":"#3FADB5","outputLabels":["Complete settings flags(out null)","Config set complete(out config)","Start sending init (out null)","Next loop sending init (out null)","Finish sending init (out null)","Timer loop (out null)","","","Mqtt out (topic,payload)","Mqtt in (topic)"],"icon":"font-awesome/fa-feed"},{"id":"af5038bd.a8e1d","type":"subflow","name":"Subflow 1","info":"","category":"","in":[],"out":[],"env":[{"name":"broker_ip","type":"str","value":"192.168.0.141"},{"name":"broker_port","type":"str","value":"1883"}],"color":"#DDAA99"},{"id":"562eba47.835dfc","type":"subflow","name":"ESP_1","info":"","category":"","in":[{"x":240,"y":200,"wires":[]}],"out":[],"env":[{"name":"ESPConfig","type":"json","value":"{}"},{"name":"SensorsConfig","type":"json","value":"{}"}],"color":"#DDAA99"},{"id":"55c086c1.b29058","type":"subflow","name":"SendInitCtrl","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"9ed2a989.e01998"},{"id":"1a61be55.8001f2"}]}],"out":[{"x":520,"y":60,"wires":[{"id":"9ed2a989.e01998","port":3}]},{"x":540,"y":120,"wires":[{"id":"1a61be55.8001f2","port":0}]}],"env":[],"color":"#DDAA99","outputLabels":["Mqtt out","Mqtt in"]},{"id":"6a4e6d18.f80a94","type":"subflow","name":"Subflow 2","info":"","in":[],"out":[]},{"id":"f94b15e1.256fd","type":"subflow","name":"ESP_2","info":"","category":"","in":[{"x":80,"y":40,"wires":[{"id":"fd458b2d.c58d08"}]}],"out":[],"env":[{"name":"configController","type":"json","value":"{}"},{"name":"configSensors","type":"json","value":"[]"}],"color":"#DDAA99"},{"id":"4c847ea0.c0678","type":"subflow","name":"InitCtrl&SendInitSensors","info":"","category":"","in":[{"x":60,"y":40,"wires":[{"id":"f8d543f2.f413e"}]}],"out":[{"x":1460,"y":40,"wires":[{"id":"39980841.d539","port":1},{"id":"ff018923.4fc738","port":0},{"id":"b893f9e6.94ad","port":0},{"id":"44997664.c7419","port":0}]},{"x":1460,"y":180,"wires":[{"id":"ca3b1d2e.b22aa","port":0}]}],"env":[],"color":"#DDAA99","outputLabels":["Mqtt out","Mqtt in"]},{"id":"ff1c3957.dbda78","type":"subflow","name":"InitSensor","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"bae8b552.ad7308"}]}],"out":[{"x":860,"y":60,"wires":[{"id":"bc4e1f08.2228e","port":0},{"id":"ec26743b.e0b75","port":0}]}],"env":[],"color":"#DDAA99","outputLabels":["Mqtt out"]},{"id":"f51f3a2e.a137d","type":"subflow","name":"getTime","info":"","category":"command","in":[{"x":60,"y":40,"wires":[{"id":"abf515f0.9d69b8"}]}],"out":[{"x":280,"y":40,"wires":[{"id":"abf515f0.9d69b8","port":0}]}],"env":[],"color":"#AAAA66"},{"id":"fed0b4a2.7ed9c8","type":"subflow","name":"RPi_1","info":"","category":"","in":[{"x":40,"y":40,"wires":[{"id":"d75b6c6c.b0d36"}]}],"out":[{"x":1100,"y":40,"wires":[{"id":"c54ce23b.a55ec8","port":0}]},{"x":1280,"y":100,"wires":[{"id":"c54ce23b.a55ec8","port":1}]},{"x":1320,"y":340,"wires":[{"id":"7735dbe.459c0a4","port":1}]},{"x":1300,"y":280,"wires":[{"id":"7735dbe.459c0a4","port":0}]},{"x":240,"y":120,"wires":[{"id":"5e502499.4b5204","port":0},{"id":"5e502499.4b5204","port":1},{"id":"5e502499.4b5204","port":2},{"id":"5e502499.4b5204","port":3}]},{"x":1580,"y":120,"wires":[{"id":"326d6fef.b4e8a","port":5},{"id":"326d6fef.b4e8a","port":4},{"id":"326d6fef.b4e8a","port":3},{"id":"326d6fef.b4e8a","port":2},{"id":"326d6fef.b4e8a","port":1},{"id":"326d6fef.b4e8a","port":0}]},{"x":1680,"y":680,"wires":[{"id":"34ebc860.e8a3e","port":0}]},{"x":1680,"y":240,"wires":[{"id":"aa94412f.241e8","port":0}]},{"x":1680,"y":300,"wires":[{"id":"fa09c9ac.021d98","port":0}]},{"x":1700,"y":420,"wires":[{"id":"e92aed82.d201c","port":0},{"id":"70d0794d.345a7","port":0}]}],"env":[{"name":"config","type":"json","value":"{}"},{"name":"clientId","type":"str","value":"1"}],"color":"#DDAA99"},{"id":"5dd98680.e9a9c","type":"subflow","name":"SERVER_1","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"f036dd30.7f0108"}]}],"out":[{"x":220,"y":620,"wires":[{"id":"f71b7863.ee282","port":3}]},{"x":420,"y":40,"wires":[{"id":"5dd98680.e9a9c","port":0}]},{"x":780,"y":100,"wires":[{"id":"e5e5ff47.42a8d8","port":0}]},{"x":860,"y":260,"wires":[{"id":"f71b7863.ee282","port":0},{"id":"f71b7863.ee282","port":1},{"id":"f71b7863.ee282","port":3},{"id":"f71b7863.ee282","port":4}]},{"x":860,"y":320,"wires":[{"id":"f71b7863.ee282","port":2}]},{"x":980,"y":640,"wires":[{"id":"6aa8c5a3.940104","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"b28e38eb.cc26f8","type":"mqtt-broker","z":"","name":"","broker":"192.168.0.141","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1f3b8724.ac6e61","type":"mqtt-broker","z":"fed0b4a2.7ed9c8","name":"","broker":"192.168.0.141","port":"1882","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4cadcef6.2992c","type":"postgresdb","z":"fed0b4a2.7ed9c8","hostname":"192.168.0.141","port":"5432","db":"db_IoT","ssl":false},{"id":"625f9a99.db7604","type":"mqtt-broker","z":"","name":"","broker":"192.168.0.141","port":"1882","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"904a0083.eb5168","type":"postgresdb","z":"5dd98680.e9a9c","hostname":"192.168.0.141","port":"5432","db":"db_IoT_1","ssl":false},{"id":"c3a8537.7e4d8b","type":"change","z":"f1afe420.cc3768","name":"Generate Temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"$floor(20 + $random()*10)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":140,"wires":[[]]},{"id":"be32c1b8.6fbf3","type":"subflow:f1afe420.cc3768","z":"edae95a5.fa2dc","name":"","env":[],"x":280,"y":40,"wires":[["6c443916.22a96","65568d98.7e2ebc"]]},{"id":"c5b462c.c0bb62","type":"mqtt out","z":"edae95a5.fa2dc","name":"","topic":"","qos":"","retain":"","broker":"b28e38eb.cc26f8","x":710,"y":40,"wires":[]},{"id":"6c443916.22a96","type":"function","z":"edae95a5.fa2dc","name":"preparation route","func":"msg.topic = \"device/data/\" + flow.get(\"$parent.$parent.config\").uuid + \"/\" + msg.uuid;\nmsg.payload = JSON.stringify({\n    datetime: flow.get(\"$parent.$parent.time\"),\n    value: msg.payload\n});\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":40,"wires":[[]]},{"id":"65568d98.7e2ebc","type":"delay","z":"edae95a5.fa2dc","name":"","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":280,"y":100,"wires":[["be32c1b8.6fbf3"]]},{"id":"7fad30ed.a6bb98","type":"function","z":"a889a30d.ce9c6","name":"set new config","func":"let sensorUuid = msg.topic.substring(msg.topic.lastIndexOf('/') + 1);\n\nflow.get(\"$parent.$parent.sensorsConfig\").filter(f => f.uuid === sensorUuid)[0] = msg.payload.value;\nclearInterval(flow.get(\"$parent.$parent.sensors\").filter(f => f.uuid === sensorUuid)[0].interval);\n\nmsg.uuid = sensorUuid;\nmsg.delay = JSON.parse(msg.payload.value).delay * 1000;\n\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":40,"wires":[[]]},{"id":"503191c5.938638","type":"digitaloak-mqtt-in","z":"5282c9d0.19e2d","name":"","qos":"2","datatype":"auto","unsubscribe-after-first-msg-recv":false,"broker":"b28e38eb.cc26f8","x":310,"y":200,"wires":[["37a36ba0.ae9b04"]]},{"id":"37a36ba0.ae9b04","type":"json","z":"5282c9d0.19e2d","name":"parse command","property":"payload","action":"obj","pretty":false,"x":480,"y":200,"wires":[[]]},{"id":"11eeff0f.5e5231","type":"function","z":"5282c9d0.19e2d","name":"set settings","func":"msg.topic = \"device/request/\" + flow.get(\"$parent.$parent.config\").uuid + \"/+\";\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":40,"wires":[[]]},{"id":"eb82ca41.6d8ed8","type":"function","z":"424d80f9.87a878","name":"Preparation data","func":"let sensorsArray = flow.get(\"$parent.$parent.sensorsConfig\");\nlet conf = flow.get(\"$parent.$parent.config\");\n\nsensorsArray.forEach(sensor => {\n    let interval = setInterval(() => {\n        msg.topic = \"device/configuration/\" + conf.uuid + \"/\" + sensor.uuid;\n        msg.payload = JSON.stringify(sensor);\n        node.send(msg);\n    },5000);\n    \n    flow.get(\"$parent.$parent.sensors\").push({\"uuid\":sensor.uuid,\"interval\":interval});\n});\n\n//return msg;","outputs":1,"noerr":0,"x":270,"y":80,"wires":[[]]},{"id":"5abae3c9.e0f8a4","type":"mqtt out","z":"424d80f9.87a878","name":"","topic":"","qos":"","retain":"","broker":"b28e38eb.cc26f8","x":470,"y":80,"wires":[]},{"id":"8fd04c12.c1025","type":"function","z":"9b3ab9e1.b42c08","name":"change rules (config)","func":"let interval = flow.get(\"$parent.$parent.controller\") | null;\nif (interval!== null) clearInterval(interval);\n\nflow.set(\"$parent.$parent.config\",JSON.parse(msg.payload.value));\nflow.set(\"$parent.$parent.settingConfig\",true);\n\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":40,"wires":[[]]},{"id":"31b62a61.1df786","type":"switch","z":"17887f1c.9e5d01","name":"","property":"$parent.$parent.settingConfig","propertyType":"flow","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":190,"y":38,"wires":[[],["76036367.c30404","54da15d3.bb4d64"]]},{"id":"f76f5dfe.3e8ca","type":"delay","z":"17887f1c.9e5d01","name":"","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":340,"y":140,"wires":[["31b62a61.1df786"]]},{"id":"76036367.c30404","type":"function","z":"17887f1c.9e5d01","name":"set init data","func":"msg.payload = JSON.stringify(flow.get(\"$parent.$parent.config\"));\nmsg.topic = \"device/configuration/\" + flow.get(\"$parent.$parent.config\").uuid\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":80,"wires":[[]]},{"id":"7f7b62fe.94cc14","type":"mqtt out","z":"17887f1c.9e5d01","name":"devices/configuration/","topic":"","qos":"","retain":"","broker":"b28e38eb.cc26f8","x":820,"y":120,"wires":[]},{"id":"54da15d3.bb4d64","type":"change","z":"17887f1c.9e5d01","name":"","rules":[{"t":"set","p":"delay","pt":"msg","to":"$flowContext(\"$parent.$parent.config\").delay * 1000","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":140,"wires":[["f76f5dfe.3e8ca"]]},{"id":"eb39dd0.a48052","type":"change","z":"4620e09d.13d448","name":"","rules":[{"t":"set","p":"$parent.$parent.time","pt":"flow","to":"payload.value","tot":"msg"},{"t":"set","p":"$parent.$parent.settingDate","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":40,"wires":[[]]},{"id":"104d3836.604308","type":"digitaloak-mqtt-in","z":"71129c70.685a7c","name":"","qos":"2","datatype":"auto","unsubscribe-after-first-msg-recv":false,"broker":"b28e38eb.cc26f8","x":290,"y":260,"wires":[["1c4434ff.adcbcb"]]},{"id":"1c4434ff.adcbcb","type":"json","z":"71129c70.685a7c","name":"parse command","property":"payload","action":"obj","pretty":false,"x":450,"y":260,"wires":[[]]},{"id":"c4feb91e.23852","type":"function","z":"71129c70.685a7c","name":"set settings","func":"msg.topic = \"device/request/\" + flow.get(\"$parent.$parent.config\").uuid;\n\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":60,"wires":[[]]},{"id":"25f03ed1.c2584a","type":"change","z":"7913b0d2.05e63","name":"","rules":[{"t":"set","p":"$parent.time","pt":"flow","to":"$flowContext(\"$parent.time\") + 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":40,"wires":[["d3c77e8b.93e578"]]},{"id":"d3c77e8b.93e578","type":"delay","z":"7913b0d2.05e63","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":240,"y":100,"wires":[["25f03ed1.c2584a"]]},{"id":"1586cd35.23b1bb","type":"switch","z":"87fea9bf.23d508","name":"","property":"$parent.$parent.settingDate","propertyType":"flow","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":110,"y":108,"wires":[[],["e9f7687f.8c35f8","85ebea6a.0908a8"]]},{"id":"85ebea6a.0908a8","type":"delay","z":"87fea9bf.23d508","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":120,"y":188,"wires":[["1586cd35.23b1bb"]]},{"id":"e9f7687f.8c35f8","type":"function","z":"87fea9bf.23d508","name":"set init data","func":"msg.payload = 1;\nmsg.topic = \"device/init/\" + flow.get(\"$parent.$parent.config\").uuid\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":160,"wires":[[]]},{"id":"6f56aab2.525f7c","type":"mqtt out","z":"87fea9bf.23d508","name":"devices/init/","topic":"","qos":"","retain":"","broker":"b28e38eb.cc26f8","x":390,"y":240,"wires":[]},{"id":"ace159d4.e6c48","type":"change","z":"db31df13.d1f2d8","name":"","rules":[{"t":"set","p":"$parent.config","pt":"flow","to":"config","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":40,"wires":[[]]},{"id":"2d877356.27d184","type":"subflow:db31df13.d1f2d8","z":"ef3f5696.32ce38","name":"","env":[{"name":"config","value":"ControllerConfig","type":"env"}],"x":419,"y":125,"wires":[["7a2c1cfe.8ac6cc","1e36f601.92bcba","1582c935.3071a7"]]},{"id":"158fcf5e.076769","type":"switch","z":"ef3f5696.32ce38","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"start","vt":"str"},{"t":"eq","v":"finish","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":160,"y":120,"wires":[["6de7d243.9cee8c"],["8ef3b8c7.a575a8"]]},{"id":"8ef3b8c7.a575a8","type":"function","z":"ef3f5696.32ce38","name":"stop","func":"let currentConfig = global.get(\"configuration\");\ncurrentConfig = (currentConfig.length | 0) > 0 ?  JSON.parse(currentConfig) : [];\ncurrentConfig = currentConfig.filter(f => f.uuid !== env.get(\"ControllerConfig\").uuid);\nglobal.set(\"configuration\",JSON.stringify(currentConfig));\n\nmsg.payload = env.get(\"ControllerConfig\").uuid + \" stoped\";\n\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":700,"wires":[["ab7a205d.260ca"]]},{"id":"ab7a205d.260ca","type":"debug","z":"ef3f5696.32ce38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":316,"y":700,"wires":[]},{"id":"7a2c1cfe.8ac6cc","type":"subflow:87fea9bf.23d508","z":"ef3f5696.32ce38","name":"","env":[{"name":"config","value":"flowContext(\"config\")","type":"env"}],"x":529,"y":185,"wires":[[],[],[],[]]},{"id":"ba00c4c1.39ace8","type":"change","z":"ef3f5696.32ce38","name":"seting flags","rules":[{"t":"set","p":"settingDate","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"settingConfig","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"time","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"config","pt":"flow","to":"ControllerConfig","tot":"env"},{"t":"set","p":"sensorsConfig","pt":"flow","to":"SensorsConfig","tot":"env"},{"t":"set","p":"sensors","pt":"flow","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":85,"wires":[["2d877356.27d184","be4b8258.d425"]]},{"id":"be4b8258.d425","type":"subflow:7913b0d2.05e63","z":"ef3f5696.32ce38","name":"","env":[],"x":389,"y":45,"wires":[["a7244c53.7f327"]]},{"id":"1e36f601.92bcba","type":"subflow:71129c70.685a7c","z":"ef3f5696.32ce38","name":"","env":[],"x":550,"y":260,"wires":[[]]},{"id":"6e58a757.5b5fc","type":"switch","z":"ef3f5696.32ce38","name":"","property":"payload.command","propertyType":"msg","rules":[{"t":"eq","v":"setConfig","vt":"str"},{"t":"eq","v":"setDT","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":779,"y":265,"wires":[["93dbe45c.37332","4e373927.f81cb8"],["4b34a792.9b376"],[]]},{"id":"4b34a792.9b376","type":"subflow:4620e09d.13d448","z":"ef3f5696.32ce38","name":"","env":[],"x":979,"y":345,"wires":[["98ed0f57.e0972"]]},{"id":"98ed0f57.e0972","type":"subflow:17887f1c.9e5d01","z":"ef3f5696.32ce38","name":"","env":[],"x":589,"y":385,"wires":[[],[]]},{"id":"93dbe45c.37332","type":"subflow:9b3ab9e1.b42c08","z":"ef3f5696.32ce38","name":"","env":[],"x":1029,"y":305,"wires":[["d33edd23.188318","1f062917.cdee17","250a8b64.2dcab4","cc169d99.0e12b"]]},{"id":"250a8b64.2dcab4","type":"subflow:424d80f9.87a878","z":"ef3f5696.32ce38","name":"","env":[],"x":550,"y":480,"wires":[[]]},{"id":"c7a17db8.741d48","type":"mqtt out","z":"ef3f5696.32ce38","name":"","topic":"","qos":"","retain":"","broker":"b28e38eb.cc26f8","x":1650,"y":180,"wires":[]},{"id":"d33edd23.188318","type":"function","z":"ef3f5696.32ce38","name":"Preparation data (dt)","func":"let conf = JSON.parse(flow.get(\"config\"));\n\nlet interval = setInterval(() => {\n    msg.topic = \"device/data/\" + conf.uuid;\n    msg.payload = flow.get(\"time\");\n    node.send(msg);\n}, conf.delay * 1000);\n\nflow.set(\"controller\",{\"interval\":interval});","outputs":1,"noerr":0,"x":1280,"y":280,"wires":[["b431321b.ab24"]]},{"id":"cc169d99.0e12b","type":"subflow:5282c9d0.19e2d","z":"ef3f5696.32ce38","name":"","env":[],"x":550,"y":540,"wires":[[]]},{"id":"92feb9c.8dcbd48","type":"switch","z":"ef3f5696.32ce38","name":"","property":"payload.command","propertyType":"msg","rules":[{"t":"eq","v":"setConfig","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":759,"y":545,"wires":[["b4bbac9.452bb5"],[]]},{"id":"b4bbac9.452bb5","type":"subflow:a889a30d.ce9c6","z":"ef3f5696.32ce38","name":"","env":[],"x":989,"y":552,"wires":[["d0af1605.c8be2","7a41cd48.6c345c"]]},{"id":"d0af1605.c8be2","type":"subflow:edae95a5.fa2dc","z":"ef3f5696.32ce38","name":"","env":[],"x":1232,"y":552,"wires":[[]]},{"id":"1f062917.cdee17","type":"debug","z":"ef3f5696.32ce38","name":"set config","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1119,"y":465,"wires":[]},{"id":"4e373927.f81cb8","type":"debug","z":"ef3f5696.32ce38","name":"test","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1179,"y":165,"wires":[]},{"id":"84b6c205.29fe2","type":"function","z":"ef3f5696.32ce38","name":"","func":"msg.payload = {\n    \"command\": msg.payload.command,\n    \"value\": msg.payload.value,\n    \"config\": flow.get(\"config\"),\n    \"flag\": flow.get(\"settingConfig\")\n};\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":60,"wires":[["4e373927.f81cb8"]]},{"id":"9969841f.438538","type":"debug","z":"ef3f5696.32ce38","name":"flows var","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":860,"y":40,"wires":[]},{"id":"1582c935.3071a7","type":"function","z":"ef3f5696.32ce38","name":"get fow data for debug","func":"let obj = {}\n\nflow.keys().forEach(key => {\n    obj[key] = flow.get(key);\n});\n\nmsg.payload = obj;\n\nreturn msg","outputs":1,"noerr":0,"x":809,"y":85,"wires":[["9969841f.438538"]]},{"id":"6de7d243.9cee8c","type":"function","z":"ef3f5696.32ce38","name":"clear flow varyable","func":"flow.keys().forEach(key => {\n    flow.set(key,undefined);\n});\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":60,"wires":[["ba00c4c1.39ace8"]]},{"id":"b431321b.ab24","type":"debug","z":"ef3f5696.32ce38","name":"send ping","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1410,"y":400,"wires":[]},{"id":"2920b269.8e1c4e","type":"debug","z":"ef3f5696.32ce38","name":"sensor data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":620,"wires":[]},{"id":"7a41cd48.6c345c","type":"debug","z":"ef3f5696.32ce38","name":"set sensor config complete","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1070,"y":660,"wires":[]},{"id":"fdb6acab.1283f8","type":"inject","z":"32f555dd.fc3a8a","name":"","topic":"","payload":"start","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":40,"wires":[["e80f7541.ebf1"]]},{"id":"e80f7541.ebf1","type":"subflow:ef3f5696.32ce38","z":"32f555dd.fc3a8a","name":"","env":[{"name":"ControllerConfig","value":"{\"uuid\":\"1a5e19c0-4d92-11ea-bb02-63ffc7623746\",\"delay\":20}","type":"json"},{"name":"SensorsConfig","value":"[{\"uuid\":\"1a5e19c0-4d92-11ea-bb02-111111111111\",\"delay\":2,\"version\":\"1.0\"},{\"uuid\":\"1a5e19c0-4d92-11ea-bb02-222222222222\",\"delay\":4,\"version\":\"1.0\"},{\"uuid\":\"1a5e19c0-4d92-11ea-bb02-333333333333\",\"delay\":3,\"version\":\"1.0\"}]","type":"json"}],"x":320,"y":60,"wires":[[],[],[],[],[],[],[],[],[],[]]},{"id":"c5233611.83bec","type":"subflow:ef3f5696.32ce38","z":"32f555dd.fc3a8a","name":"","env":[{"name":"ControllerConfig","value":"{\"uuid\":\"1a5e19c0-4d92-11ea-bb02-63ffc7623756\",\"delay\":20}","type":"json"}],"x":700,"y":60,"wires":[[],[],[],[],[],[],[],[],[],[]]},{"id":"b1a53091.b788f","type":"subflow:ef3f5696.32ce38","z":"32f555dd.fc3a8a","name":"","env":[{"name":"ControllerConfig","value":"{\"uuid\":\"1a5e19c0-4d92-11ea-bb02-63ffc7623766\",\"delay\":20}","type":"json"}],"x":1100,"y":60,"wires":[[],[],[],[],[],[],[],[],[],[]]},{"id":"e3ad31f1.ab4c","type":"inject","z":"32f555dd.fc3a8a","name":"GetAllConfiigs","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":160,"wires":[["7debe120.0881b"]]},{"id":"7debe120.0881b","type":"change","z":"32f555dd.fc3a8a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"configuration","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":160,"wires":[["a39fe4d0.b7b68"]]},{"id":"a39fe4d0.b7b68","type":"json","z":"32f555dd.fc3a8a","name":"","property":"payload","action":"obj","pretty":false,"x":470,"y":160,"wires":[["980c9422.5276a"]]},{"id":"980c9422.5276a","type":"debug","z":"32f555dd.fc3a8a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":160,"wires":[]},{"id":"5e7701b9.54dd18","type":"inject","z":"32f555dd.fc3a8a","name":"","topic":"","payload":"start","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":910,"y":40,"wires":[["b1a53091.b788f"]]},{"id":"7295e970.0783a","type":"inject","z":"32f555dd.fc3a8a","name":"","topic":"","payload":"start","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":510,"y":40,"wires":[["c5233611.83bec"]]},{"id":"efc8088c.8a562","type":"inject","z":"32f555dd.fc3a8a","name":"ClearGlobalConfig","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":220,"wires":[["c5cdbac8.ed9d6"]]},{"id":"c5cdbac8.ed9d6","type":"change","z":"32f555dd.fc3a8a","name":"","rules":[{"t":"set","p":"configuration","pt":"global","to":"{}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":220,"wires":[["fb7e7d01.ee4738"]]},{"id":"fb7e7d01.ee4738","type":"debug","z":"32f555dd.fc3a8a","name":"clear config","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":220,"wires":[]},{"id":"c9665970.caae6","type":"inject","z":"32f555dd.fc3a8a","name":"","topic":"","payload":"finish","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":80,"wires":[["e80f7541.ebf1"]]},{"id":"4f1d3ebe.ad19c8","type":"inject","z":"32f555dd.fc3a8a","name":"","topic":"","payload":"finish","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":510,"y":80,"wires":[["c5233611.83bec"]]},{"id":"ee5ff174.139988","type":"inject","z":"32f555dd.fc3a8a","name":"","topic":"","payload":"finish","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":910,"y":80,"wires":[["b1a53091.b788f"]]},{"id":"7f7e7450.38e0cc","type":"debug","z":"32f555dd.fc3a8a","name":"area 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":650,"y":340,"wires":[]},{"id":"cc899f42.bee6a","type":"digitaloak-mqtt-in","z":"32f555dd.fc3a8a","name":"Grocery","qos":"2","datatype":"auto","unsubscribe-after-first-msg-recv":false,"broker":"625f9a99.db7604","x":440,"y":460,"wires":[["a5c59c7d.cbc48"]]},{"id":"7551dda3.aacffc","type":"inject","z":"32f555dd.fc3a8a","name":"","topic":"device/init/#","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":460,"wires":[["cc899f42.bee6a"]]},{"id":"c5fee93.73f7c18","type":"mqtt out","z":"32f555dd.fc3a8a","name":"","topic":"","qos":"","retain":"","broker":"625f9a99.db7604","x":810,"y":460,"wires":[]},{"id":"a5c59c7d.cbc48","type":"function","z":"32f555dd.fc3a8a","name":"","func":"let deviceId = msg.topic.substring(msg.topic.lastIndexOf('/') + 1);\nmsg.topic = \"device/request/\" + deviceId;\nmsg.payload = JSON.stringify({\"command\":\"setDT\",\"value\":new Date().getTime() / 1000 | 0});\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":460,"wires":[["c5fee93.73f7c18","7f7e7450.38e0cc"]]},{"id":"11ae04e.81f8cfb","type":"inject","z":"32f555dd.fc3a8a","name":"","topic":"device/configuration/#","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":560,"wires":[["1efbe707.866131"]]},{"id":"1efbe707.866131","type":"digitaloak-mqtt-in","z":"32f555dd.fc3a8a","name":"","qos":"2","datatype":"auto","unsubscribe-after-first-msg-recv":false,"broker":"625f9a99.db7604","x":340,"y":560,"wires":[["45044304.7177a4","a93a410e.cc03e"]]},{"id":"45044304.7177a4","type":"debug","z":"32f555dd.fc3a8a","name":"area 2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":520,"wires":[]},{"id":"a93a410e.cc03e","type":"function","z":"32f555dd.fc3a8a","name":"","func":"let deviceId = msg.topic.substring(\"device/configuration\".length + 1);\nmsg.topic = \"device/request/\" + deviceId;\nmsg.payload = JSON.stringify({\"command\":\"setConfig\",\"value\":JSON.parse(msg.payload)});\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":580,"wires":[["e8f1f071.55a3f8","ab8364d1.ace938"]]},{"id":"e8f1f071.55a3f8","type":"mqtt out","z":"32f555dd.fc3a8a","name":"","topic":"","qos":"","retain":"","broker":"625f9a99.db7604","x":800,"y":580,"wires":[]},{"id":"c5ff682d.40cd18","type":"inject","z":"32f555dd.fc3a8a","name":"","topic":"device/data/#","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":700,"wires":[["8201c2ce.e4b1a"]]},{"id":"3236b537.c0dd4a","type":"debug","z":"32f555dd.fc3a8a","name":"area 3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":700,"wires":[]},{"id":"8201c2ce.e4b1a","type":"digitaloak-mqtt-in","z":"32f555dd.fc3a8a","name":"","qos":"2","datatype":"auto","unsubscribe-after-first-msg-recv":false,"broker":"625f9a99.db7604","x":390,"y":700,"wires":[["3236b537.c0dd4a"]]},{"id":"ab8364d1.ace938","type":"debug","z":"32f555dd.fc3a8a","name":"area 4","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":720,"y":520,"wires":[]},{"id":"20f45d9d.1fab52","type":"inject","z":"af5038bd.a8e1d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":140,"wires":[["d26e6f4d.340c38"]]},{"id":"d26e6f4d.340c38","type":"mqtt out","z":"af5038bd.a8e1d","name":"","topic":"/s/s","qos":"","retain":"","broker":"b28e38eb.cc26f8","x":490,"y":140,"wires":[]},{"id":"c4f0c52d.4065","type":"mqtt in","z":"af5038bd.a8e1d","name":"","topic":"/s/s","qos":"2","datatype":"auto","broker":"b28e38eb.cc26f8","x":220,"y":260,"wires":[["dacf2335.c2105"]]},{"id":"dacf2335.c2105","type":"debug","z":"af5038bd.a8e1d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":440,"y":260,"wires":[]},{"id":"a7244c53.7f327","type":"change","z":"ef3f5696.32ce38","name":"set for debug","rules":[{"t":"set","p":"payload","pt":"msg","to":"time","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":45,"wires":[[]]},{"id":"59daea11.20bdc4","type":"subflow:ef3f5696.32ce38","z":"562eba47.835dfc","name":"","env":[{"name":"ControllerConfig","value":"{\"uuid\":\"1a5e19c0-4d92-11ea-bb02-63ffc7623746\",\"delay\":20}","type":"json"},{"name":"SensorsConfig","value":"[{\"uuid\":\"1a5e19c0-4d92-11ea-bb02-111111111111\",\"delay\":2,\"version\":\"1.0\"},{\"uuid\":\"1a5e19c0-4d92-11ea-bb02-222222222222\",\"delay\":4,\"version\":\"1.0\"},{\"uuid\":\"1a5e19c0-4d92-11ea-bb02-333333333333\",\"delay\":3,\"version\":\"1.0\"}]","type":"json"}],"x":610,"y":240,"wires":[[],[],[],[],[],[],[],[],["8f15072.7c200f8"],["5270f107.8d7168"]]},{"id":"3ad38e67.12d56a","type":"link in","z":"ef3f5696.32ce38","name":"","links":[],"x":275,"y":320,"wires":[["25ead1f3.27b4a6"]]},{"id":"cd6f1395.698b3","type":"link in","z":"ef3f5696.32ce38","name":"","links":[],"x":275,"y":380,"wires":[["8b4bc2c2.d849a"]]},{"id":"b9f00e2c.a5846","type":"inject","z":"ff3a4f78.6b09","name":"","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":1240,"wires":[["bd964385.9e6ba8"]]},{"id":"bd964385.9e6ba8","type":"function","z":"ff3a4f78.6b09","name":"","func":"if (msg.payload  > 1) return msg;","outputs":1,"noerr":0,"x":410,"y":1240,"wires":[["ef0f336f.a0e92"]]},{"id":"ef0f336f.a0e92","type":"debug","z":"ff3a4f78.6b09","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620,"y":1220,"wires":[]},{"id":"25ead1f3.27b4a6","type":"function","z":"ef3f5696.32ce38","name":"","func":"let controllerUuid = JSON.parse(flow.get(\"config\")).uuid;\nlet requestUuid = msg.topic.substring(msg.topic.lastIndexOf('/') + 1);\nif (controllerUuid === requestUuid) return msg;","outputs":1,"noerr":0,"x":370,"y":320,"wires":[["6e58a757.5b5fc"]]},{"id":"8b4bc2c2.d849a","type":"function","z":"ef3f5696.32ce38","name":"","func":"let controllerUuid = JSON.parse(flow.get(\"config\")).uuid;\nlet temp = msg.topic.substring(\"device/request/\".length);\nlet requestUuid = temp.substring(temp.lastIndexOf('/') + 1);\nif (controllerUuid === requestUuid) return msg;","outputs":1,"noerr":0,"x":370,"y":380,"wires":[["92feb9c.8dcbd48"]]},{"id":"8f15072.7c200f8","type":"mqtt out","z":"562eba47.835dfc","name":"","topic":"","qos":"","retain":"","broker":"b28e38eb.cc26f8","x":860,"y":200,"wires":[]},{"id":"5270f107.8d7168","type":"digitaloak-mqtt-in","z":"562eba47.835dfc","name":"","qos":"2","datatype":"auto","unsubscribe-after-first-msg-recv":false,"broker":"b28e38eb.cc26f8","x":850,"y":240,"wires":[["45cc5490.b33744"]]},{"id":"45cc5490.b33744","type":"link out","z":"562eba47.835dfc","name":"mqtt in","links":[],"x":985,"y":240,"wires":[]},{"id":"9ed2a989.e01998","type":"subflow:87fea9bf.23d508","z":"55c086c1.b29058","name":"","env":[{"name":"config","value":"flowContext(\"config\")","type":"env"}],"x":280,"y":60,"wires":[[],[],[],[]]},{"id":"1a61be55.8001f2","type":"subflow:71129c70.685a7c","z":"55c086c1.b29058","name":"","env":[],"x":290,"y":140,"wires":[[]]},{"id":"9763b0d4.575678","type":"subflow:55c086c1.b29058","z":"f94b15e1.256fd","name":"","env":[],"x":130,"y":100,"wires":[["fd1cfc5f.015e2"],["4a4b7e82.4e0ff"]]},{"id":"fd1cfc5f.015e2","type":"mqtt out","z":"f94b15e1.256fd","name":"mqtt out","topic":"","qos":"","retain":"","broker":"b28e38eb.cc26f8","x":660,"y":100,"wires":[]},{"id":"4a4b7e82.4e0ff","type":"digitaloak-mqtt-in","z":"f94b15e1.256fd","name":"mqtt in","qos":"2","datatype":"auto","unsubscribe-after-first-msg-recv":false,"broker":"b28e38eb.cc26f8","x":660,"y":180,"wires":[["6292586f.e0bcd8","65c77409.c87c3c"]]},{"id":"d577461b.a68418","type":"change","z":"f94b15e1.256fd","name":"seting flags","rules":[{"t":"set","p":"settingDate","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"settingConfig","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"time","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"config","pt":"flow","to":"configController","tot":"env"},{"t":"set","p":"sensorsConfig","pt":"flow","to":"configSensors","tot":"env"},{"t":"set","p":"sensors","pt":"flow","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":40,"wires":[["9763b0d4.575678","5520bcb8.bbbbbc"]]},{"id":"5520bcb8.bbbbbc","type":"subflow:7913b0d2.05e63","z":"f94b15e1.256fd","name":"","env":[],"x":810,"y":40,"wires":[[]]},{"id":"2a5821d4.a77736","type":"function","z":"f94b15e1.256fd","name":"clear flow varyable","func":"flow.keys().forEach(key => {\n    flow.set(key,undefined);\n});\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":40,"wires":[["d577461b.a68418"]]},{"id":"6292586f.e0bcd8","type":"function","z":"f94b15e1.256fd","name":"device","func":"let controllerUuid = flow.get(\"config\").uuid;\nlet requestUuid = msg.topic.substring(msg.topic.lastIndexOf('/') + 1);\nif (controllerUuid === requestUuid) return msg;","outputs":1,"noerr":0,"x":810,"y":140,"wires":[["9a20a3d5.740198"]]},{"id":"65c77409.c87c3c","type":"function","z":"f94b15e1.256fd","name":"sensor","func":"let controllerUuid = flow.get(\"config\").uuid;\nlet temp = msg.topic.substring(\"device/request/\".length);\nlet requestUuid = temp.substring(temp.lastIndexOf('/') + 1);\nif (controllerUuid !== requestUuid) return msg;","outputs":1,"noerr":0,"x":820,"y":220,"wires":[["cbaefaca.b8836"]]},{"id":"461379da.e9745","type":"switch","z":"4c847ea0.c0678","name":"","property":"payload.command","propertyType":"msg","rules":[{"t":"eq","v":"setConfig","vt":"str"},{"t":"eq","v":"setDT","vt":"str"},{"t":"eq","v":"getDT","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":110,"y":220,"wires":[["8a16146c.d6c3d"],["69154742.17b5c8"],["44997664.c7419"],[]]},{"id":"8a16146c.d6c3d","type":"subflow:9b3ab9e1.b42c08","z":"4c847ea0.c0678","name":"","env":[],"x":520,"y":100,"wires":[["b893f9e6.94ad","ff018923.4fc738","ca3b1d2e.b22aa"]]},{"id":"69154742.17b5c8","type":"subflow:4620e09d.13d448","z":"4c847ea0.c0678","name":"","env":[],"x":470,"y":40,"wires":[["39980841.d539"]]},{"id":"b893f9e6.94ad","type":"function","z":"4c847ea0.c0678","name":"Send ping (dt)","func":"let conf = flow.get(\"$parent.config\");\n\nlet interval = setInterval(() => {\n    msg.topic = \"device/data/\" + conf.uuid;\n    msg.payload = JSON.stringify({\n        datetime: flow.get(\"$parent.time\"),\n        value: flow.get(\"$parent.time\"),\n    });\n    node.send(msg);\n}, conf.delay * 1000);\n\nflow.set(\"$parent.controller\",{\"interval\":interval});","outputs":1,"noerr":0,"x":780,"y":140,"wires":[[]]},{"id":"ff018923.4fc738","type":"subflow:424d80f9.87a878","z":"4c847ea0.c0678","name":"","env":[],"x":810,"y":100,"wires":[[]]},{"id":"39980841.d539","type":"subflow:17887f1c.9e5d01","z":"4c847ea0.c0678","name":"","env":[],"x":820,"y":40,"wires":[[],[]]},{"id":"ca3b1d2e.b22aa","type":"subflow:5282c9d0.19e2d","z":"4c847ea0.c0678","name":"","env":[],"x":810,"y":180,"wires":[[]]},{"id":"9a20a3d5.740198","type":"subflow:4c847ea0.c0678","z":"f94b15e1.256fd","name":"","env":[],"x":170,"y":180,"wires":[["fd1cfc5f.015e2"],["4a4b7e82.4e0ff"]]},{"id":"ed1f04bc.fff1e8","type":"switch","z":"ff1c3957.dbda78","name":"","property":"payload.command","propertyType":"msg","rules":[{"t":"eq","v":"setConfig","vt":"str"},{"t":"eq","v":"getData","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":110,"y":200,"wires":[["bfb1944.f32aae8"],["ec26743b.e0b75"],[]]},{"id":"bfb1944.f32aae8","type":"subflow:a889a30d.ce9c6","z":"ff1c3957.dbda78","name":"","env":[],"x":410,"y":60,"wires":[["bc4e1f08.2228e"]]},{"id":"bc4e1f08.2228e","type":"subflow:edae95a5.fa2dc","z":"ff1c3957.dbda78","name":"","env":[],"x":650,"y":60,"wires":[[]]},{"id":"cbaefaca.b8836","type":"subflow:ff1c3957.dbda78","z":"f94b15e1.256fd","name":"","env":[],"x":120,"y":240,"wires":[["fd1cfc5f.015e2"]]},{"id":"9a7463b8.9fb968","type":"subflow:f94b15e1.256fd","z":"ff3a4f78.6b09","name":"","env":[{"name":"configController","value":"{\"uuid\":\"1a5e19c0-4d92-11ea-bb02-63ffc7623746\",\"delay\":20}","type":"json"},{"name":"configSensors","value":"[{\"uuid\":\"1a5e19c0-4d92-11ea-bb02-111111111111\",\"delay\":2,\"version\":\"1.0\"},{\"uuid\":\"1a5e19c0-4d92-11ea-bb02-222222222222\",\"delay\":4,\"version\":\"1.0\"},{\"uuid\":\"1a5e19c0-4d92-11ea-bb02-333333333333\",\"delay\":3,\"version\":\"1.0\"}]","type":"json"}],"x":320,"y":460,"wires":[]},{"id":"cd195074.8bc8a","type":"inject","z":"ff3a4f78.6b09","name":"","topic":"","payload":"start","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":440,"wires":[["9a7463b8.9fb968"]]},{"id":"5463c129.cea2e8","type":"inject","z":"ff3a4f78.6b09","name":"","topic":"","payload":"finish","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":480,"wires":[["9a7463b8.9fb968"]]},{"id":"fd458b2d.c58d08","type":"switch","z":"f94b15e1.256fd","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"start","vt":"str"},{"t":"eq","v":"finish","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":40,"wires":[["2a5821d4.a77736"],[]]},{"id":"f8d543f2.f413e","type":"json","z":"4c847ea0.c0678","name":"","property":"payload","action":"obj","pretty":false,"x":230,"y":40,"wires":[["461379da.e9745"]]},{"id":"bae8b552.ad7308","type":"json","z":"ff1c3957.dbda78","name":"","property":"payload","action":"","pretty":false,"x":170,"y":31,"wires":[["ed1f04bc.fff1e8"]]},{"id":"abf515f0.9d69b8","type":"function","z":"f51f3a2e.a137d","name":"getDT","func":"msg.topic = \"device/response/\" + flow.get(\"$parent.$parent.config\").uuid;\nmsg.payload = JSON.stringify(\n    {\n        command: msg.payload.command,\n        value: flow.get(\"$parent.$parent.time\"),\n        client_id: msg.payload.client_id\n    });\n\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":40,"wires":[[]]},{"id":"44997664.c7419","type":"subflow:f51f3a2e.a137d","z":"4c847ea0.c0678","name":"","env":[],"x":460,"y":160,"wires":[["bd4ddb89.fb10f"]]},{"id":"ec26743b.e0b75","type":"function","z":"ff1c3957.dbda78","name":"getDataFromSensor","func":"uuidSensor = msg.topic.substring(msg.topic.lastIndexOf('/') + 1);\nmsg.topic = \"device/response/\" + flow.get(\"$parent.config\").uuid + \"/\" + uuidSensor;\nmsg.payload = JSON.stringify({\n    command: msg.payload.command,\n    value: Math.floor(20 + Math.random() * 10),\n    client_id: msg.payload.client_id\n});\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":120,"wires":[[]]},{"id":"2a97733f.ad7714","type":"inject","z":"32f555dd.fc3a8a","name":"","topic":"device/request/1a5e19c0-4d92-11ea-bb02-63ffc7623846","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":760,"wires":[["e6802415.004208"]]},{"id":"af5862f7.fc239","type":"mqtt out","z":"32f555dd.fc3a8a","name":"","topic":"","qos":"","retain":"","broker":"625f9a99.db7604","x":570,"y":760,"wires":[]},{"id":"e6802415.004208","type":"change","z":"32f555dd.fc3a8a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"command\":\"getDT\",\"value\": null,\"client_id\":1}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":760,"wires":[["af5862f7.fc239"]]},{"id":"e9e05da5.09fef","type":"inject","z":"32f555dd.fc3a8a","name":"","topic":"device/response/#","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":920,"wires":[["a5cb35b9.4d4dc"]]},{"id":"a5cb35b9.4d4dc","type":"digitaloak-mqtt-in","z":"32f555dd.fc3a8a","name":"","qos":"2","datatype":"auto","unsubscribe-after-first-msg-recv":false,"broker":"625f9a99.db7604","x":300,"y":920,"wires":[["c9e69825.cc81b8"]]},{"id":"c9e69825.cc81b8","type":"debug","z":"32f555dd.fc3a8a","name":"area 5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":500,"y":920,"wires":[]},{"id":"ab20dc2a.22ed9","type":"inject","z":"32f555dd.fc3a8a","name":"","topic":"device/request/1a5e19c0-4d92-11ea-bb02-63ffc7623846/1a5e19c0-4d92-11ea-bb02-63ffc7623746/1a5e19c0-4d92-11ea-bb02-111111111111","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":860,"wires":[["b3150116.341398"]]},{"id":"47b3f4d2.4ea854","type":"mqtt out","z":"32f555dd.fc3a8a","name":"","topic":"","qos":"","retain":"","broker":"625f9a99.db7604","x":570,"y":860,"wires":[]},{"id":"b3150116.341398","type":"change","z":"32f555dd.fc3a8a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"command\":\"getData\",\"value\": null,\"client_id\":1}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":860,"wires":[["47b3f4d2.4ea854"]]},{"id":"5d3902e9.23995c","type":"mqtt out","z":"fed0b4a2.7ed9c8","name":"Mqtt out 1883","topic":"","qos":"","retain":"","broker":"b28e38eb.cc26f8","x":749,"y":100,"wires":[]},{"id":"d18c3c5f.451b88","type":"digitaloak-mqtt-in","z":"fed0b4a2.7ed9c8","name":"Mqtt in 1883","qos":"2","datatype":"auto","unsubscribe-after-first-msg-recv":false,"broker":"b28e38eb.cc26f8","x":739,"y":160,"wires":[["d2e45a0a.33a8"]]},{"id":"d75b6c6c.b0d36","type":"switch","z":"fed0b4a2.7ed9c8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"start","vt":"str"},{"t":"eq","v":"finish","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":150,"y":40,"wires":[["b211ac95.d669d8"],[]]},{"id":"b211ac95.d669d8","type":"function","z":"fed0b4a2.7ed9c8","name":"clear flow varyable","func":"flow.keys().forEach(key => {\n    flow.set(key,undefined);\n});\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":40,"wires":[["11225d89.67f2ea"]]},{"id":"11225d89.67f2ea","type":"change","z":"fed0b4a2.7ed9c8","name":"seting flags","rules":[{"t":"set","p":"settingDate","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"settingConfig","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"time","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"config","pt":"flow","to":"config","tot":"env"},{"t":"set","p":"clientId","pt":"flow","to":"clientId","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":40,"wires":[["a649008.c76b2","8c0ec5f4.944358","bc66f78a.0dc92","34ebc860.e8a3e"]]},{"id":"a649008.c76b2","type":"subflow:7913b0d2.05e63","z":"fed0b4a2.7ed9c8","name":"","env":[],"x":770,"y":40,"wires":[[]]},{"id":"f33a0ba9.9f0d2","type":"json","z":"fed0b4a2.7ed9c8","name":"","property":"payload","action":"obj","pretty":false,"x":170,"y":300,"wires":[["5e502499.4b5204","34ebc860.e8a3e"]]},{"id":"5e502499.4b5204","type":"switch","z":"fed0b4a2.7ed9c8","name":"","property":"payload.command","propertyType":"msg","rules":[{"t":"eq","v":"setDT","vt":"str"},{"t":"eq","v":"setConfig","vt":"str"},{"t":"eq","v":"getDT","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":310,"y":300,"wires":[["aa94412f.241e8"],["fa09c9ac.021d98"],["61ddee74.708828"],[]]},{"id":"70d0794d.345a7","type":"function","z":"fed0b4a2.7ed9c8","name":"Send ping (dt)","func":"let conf = flow.get(\"config\");\n\nlet interval = setInterval(() => {\n    msg.topic = \"devices/data/\" + conf.uuid;\n    msg.payload = { value: flow.get(\"time\"), datetime: flow.get(\"time\") };\n    node.send(msg);\n}, conf.delay * 1000);\n\nflow.set(\"controller\",{\"interval\":interval});","outputs":1,"noerr":0,"x":780,"y":260,"wires":[["56391adf.5ac7d4"]]},{"id":"78d658e4.f42408","type":"function","z":"fed0b4a2.7ed9c8","name":"subscribe to init child devices","func":"msg.topic = \"devices/init/#\";\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":400,"wires":[["d18c3c5f.451b88"]]},{"id":"cb756200.a0f8e","type":"function","z":"fed0b4a2.7ed9c8","name":"subscribe to config child devices","func":"msg.topic = \"devices/configuration/#\";\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":460,"wires":[["d18c3c5f.451b88"]]},{"id":"504cc7f7.0a67d","type":"function","z":"fed0b4a2.7ed9c8","name":"subscribe to data child devices","func":"msg.topic = \"devices/data/#\";\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":520,"wires":[["d18c3c5f.451b88"]]},{"id":"17754cba.6dd6ab","type":"function","z":"fed0b4a2.7ed9c8","name":"subscribe to response child devices","func":"msg.topic = \"devices/response/#\";\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":580,"wires":[["d18c3c5f.451b88"]]},{"id":"ea190c21.cc16d8","type":"json","z":"fed0b4a2.7ed9c8","name":"","property":"payload","action":"","pretty":false,"x":50,"y":500,"wires":[[]]},{"id":"326d6fef.b4e8a","type":"switch","z":"fed0b4a2.7ed9c8","name":"","property":"group","propertyType":"msg","rules":[{"t":"eq","v":"init","vt":"str"},{"t":"eq","v":"configuration","vt":"str"},{"t":"eq","v":"data","vt":"str"},{"t":"eq","v":"response","vt":"str"},{"t":"eq","v":"request","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":6,"x":1170,"y":200,"wires":[["d249083e.0ceac"],["c94b6936.0823a"],["3b3768ef.76eed8"],["7f577f63.94849"],["4f5f00f6.e8c568"],[]]},{"id":"24c324ad.85b4fc","type":"inject","z":"32f555dd.fc3a8a","name":"","topic":"","payload":"device/request/asfdhgasd","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":410,"y":1200,"wires":[["e5f569bb.b0c7e"]]},{"id":"e5f569bb.b0c7e","type":"debug","z":"32f555dd.fc3a8a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.split('/')[1]","targetType":"jsonata","x":690,"y":1180,"wires":[]},{"id":"d2e45a0a.33a8","type":"function","z":"fed0b4a2.7ed9c8","name":"set group","func":"msg.group = msg.topic.split('/')[1];\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":200,"wires":[["326d6fef.b4e8a","34ebc860.e8a3e"]]},{"id":"4f5f00f6.e8c568","type":"function","z":"fed0b4a2.7ed9c8","name":"find path","func":"let arr = msg.topic.split('/');\n\n// -1 - \n// other \nmsg.subgroup = arr.findIndex(f => f === flow.get(\"config\").uuid) >= arr.length - 1 ? -1 : arr[arr.findIndex(f => f === flow.get(\"config\").uuid) + 1];\n\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":340,"wires":[["7735dbe.459c0a4"]]},{"id":"7735dbe.459c0a4","type":"switch","z":"fed0b4a2.7ed9c8","name":"","property":"subgroup","propertyType":"msg","rules":[{"t":"eq","v":"-1","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1190,"y":340,"wires":[["f33a0ba9.9f0d2"],["aafe3cf9.fd1c8"]],"outputLabels":[" "," "]},{"id":"c54ce23b.a55ec8","type":"switch","z":"fed0b4a2.7ed9c8","name":"","property":"payload.client_id","propertyType":"msg","rules":[{"t":"eq","v":"clientId","vt":"flow"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1070,"y":100,"wires":[[],["134ad64e.3c2082"]],"outputLabels":[" response "," response  "]},{"id":"7f577f63.94849","type":"json","z":"fed0b4a2.7ed9c8","name":"","property":"payload","action":"obj","pretty":false,"x":930,"y":100,"wires":[["c54ce23b.a55ec8"]]},{"id":"134ad64e.3c2082","type":"function","z":"fed0b4a2.7ed9c8","name":"convert to JSON","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1390,"y":40,"wires":[["56391adf.5ac7d4"]]},{"id":"56391adf.5ac7d4","type":"mqtt out","z":"fed0b4a2.7ed9c8","name":"Mqtt out 1882","topic":"","qos":"","retain":"","broker":"1f3b8724.ac6e61","x":820,"y":480,"wires":[]},{"id":"afbefa7a.6b2508","type":"digitaloak-mqtt-in","z":"fed0b4a2.7ed9c8","name":"Mqtt in1882","qos":"2","datatype":"auto","unsubscribe-after-first-msg-recv":false,"broker":"1f3b8724.ac6e61","x":810,"y":540,"wires":[["d2e45a0a.33a8"]]},{"id":"797fa8f5.7f1bb","type":"postgres","z":"fed0b4a2.7ed9c8","postgresdb":"4cadcef6.2992c","name":"pg","output":true,"perrow":false,"outputs":1,"x":1410,"y":460,"wires":[["c94b6936.0823a"]]},{"id":"8328f9bf.3f83e","type":"template","z":"fed0b4a2.7ed9c8","name":"format query","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select value from configurations where value_id = $uuid","x":1430,"y":280,"wires":[["e6e26693.5cafc"]]},{"id":"c94b6936.0823a","type":"function","z":"fed0b4a2.7ed9c8","name":"setup params","func":"msg.queryParameters = msg.queryParameters || {};\nmsg.queryParameters.uuid =  msg.topic.substring(msg.topic.lastIndexOf('/') + 1);\nmsg.queryParameters.config = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1440,"y":240,"wires":[["8328f9bf.3f83e"]]},{"id":"d249083e.0ceac","type":"function","z":"fed0b4a2.7ed9c8","name":"getTime","func":"let deviceId = msg.topic.substring(msg.topic.lastIndexOf('/') + 1);\nmsg.topic = \"devices/request/\" + deviceId;\nmsg.payload = JSON.stringify({\"command\":\"setdatetime\",\"value\": flow.get(\"time\"),\"client_id\": flow.get(\"clientId\")});\nreturn msg;","outputs":1,"noerr":0,"x":1500,"y":180,"wires":[["5d3902e9.23995c"]]},{"id":"e6e26693.5cafc","type":"postgres","z":"fed0b4a2.7ed9c8","postgresdb":"4cadcef6.2992c","name":"","output":true,"perrow":false,"outputs":1,"x":1420,"y":320,"wires":[["b7b753aa.c16678"]]},{"id":"e6f93a4a.e87a38","type":"template","z":"fed0b4a2.7ed9c8","name":"format query","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"insert into configurations (value_id, value) values ($uuid, $config)","x":1430,"y":420,"wires":[["797fa8f5.7f1bb"]]},{"id":"8c574363.dbbb78","type":"function","z":"fed0b4a2.7ed9c8","name":"setup params","func":"msg.queryParameters = msg.queryParameters || {};\nmsg.queryParameters.uuid = msg.topic.substring(msg.topic.lastIndexOf('/') + 1);\nmsg.queryParameters.config = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1440,"y":380,"wires":[[]]},{"id":"b7b753aa.c16678","type":"switch","z":"fed0b4a2.7ed9c8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1410,"y":520,"wires":[["d696c6e2.62b16"],["e6f93a4a.e87a38"]]},{"id":"d696c6e2.62b16","type":"function","z":"fed0b4a2.7ed9c8","name":"preparating data","func":"let deviceId = msg.topic.substring(\"devices/configuration\".length + 1);\nmsg.topic = \"devices/request/\" + deviceId;\nmsg.payload = JSON.stringify({\"command\":\"setconfig\",\"value\":msg.payload[0].value,\"client_id\": flow.get(\"clientId\")});\nreturn msg;","outputs":1,"noerr":0,"x":1440,"y":560,"wires":[["5d3902e9.23995c"]]},{"id":"3b3768ef.76eed8","type":"function","z":"fed0b4a2.7ed9c8","name":"setup params","func":"msg.queryParameters = msg.queryParameters || {};\nmsg.queryParameters.uuid = msg.topic.substring(msg.topic.lastIndexOf('/') + 1);\nmsg.payload = JSON.parse(msg.payload);\nmsg.queryParameters.data = msg.payload.value;\nmsg.queryParameters.datetime = msg.payload.datetime;\nreturn msg;","outputs":1,"noerr":0,"x":1180,"y":480,"wires":[["5c9b2dd8.981f64"]]},{"id":"5c9b2dd8.981f64","type":"template","z":"fed0b4a2.7ed9c8","name":"format query","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"insert into data (value_id, value, datetime) values ($uuid, $data, $datetime)","x":1170,"y":520,"wires":[["97670909.b6463"]]},{"id":"97670909.b6463","type":"postgres","z":"fed0b4a2.7ed9c8","postgresdb":"4cadcef6.2992c","name":"pg2","output":true,"perrow":false,"outputs":1,"x":1150,"y":560,"wires":[[]]},{"id":"a824a419.ad0d3","type":"subflow:fed0b4a2.7ed9c8","z":"ff3a4f78.6b09","name":"","env":[{"name":"config","value":"{\"uuid\":\"1a5e19c0-4d92-11ea-bb02-63ffc7623846\",\"delay\":10}","type":"json"},{"name":"clientId","value":"client_RPi_1","type":"str"}],"x":310,"y":360,"wires":[["edeca46e.39c548"],["534afc7c.5aafac"],["993d2707.a88ab8"],["e10f27ce.b0734"],["59efd14b.15af48"],["266b9bcf.4eb2fc"],["ec8a7175.98cbb"],["beb1d596.8ead"],["adc1150.2502f68"],["95c73451.c6eeb"]]},{"id":"ed9a6b05.b8a108","type":"inject","z":"ff3a4f78.6b09","name":"","topic":"","payload":"start","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":340,"wires":[["a824a419.ad0d3"]]},{"id":"7004072b.04279","type":"inject","z":"ff3a4f78.6b09","name":"","topic":"","payload":"finish","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":380,"wires":[["a824a419.ad0d3"]]},{"id":"fa09c9ac.021d98","type":"function","z":"fed0b4a2.7ed9c8","name":"change rules (config)","func":"let interval = flow.get(\"controller\") | null;\nif (interval!== null) clearInterval(interval);\n\nflow.set(\"config\", JSON.parse(JSON.parse(msg.payload.value)));\nflow.set(\"settingConfig\",true);\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":200,"wires":[["17754cba.6dd6ab","504cc7f7.0a67d","cb756200.a0f8e","78d658e4.f42408","70d0794d.345a7","34ebc860.e8a3e"]]},{"id":"aa94412f.241e8","type":"change","z":"fed0b4a2.7ed9c8","name":"","rules":[{"t":"set","p":"time","pt":"flow","to":"payload.value","tot":"msg"},{"t":"set","p":"settingDate","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":160,"wires":[["c3c4243c.5f5748","34ebc860.e8a3e"]]},{"id":"c3c4243c.5f5748","type":"switch","z":"fed0b4a2.7ed9c8","name":"","property":"settingConfig","propertyType":"flow","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1010,"y":760,"wires":[[],["e92aed82.d201c","d6047b14.edbb58"]]},{"id":"d6047b14.edbb58","type":"change","z":"fed0b4a2.7ed9c8","name":"","rules":[{"t":"set","p":"delay","pt":"msg","to":"$flowContext(\"config\").delay * 1000","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":862,"wires":[["3372a995.e94b2e"]]},{"id":"3372a995.e94b2e","type":"delay","z":"fed0b4a2.7ed9c8","name":"","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1160,"y":862,"wires":[["c3c4243c.5f5748"]]},{"id":"e92aed82.d201c","type":"function","z":"fed0b4a2.7ed9c8","name":"set init data","func":"msg.payload = JSON.stringify(flow.get(\"config\"));\nmsg.topic = \"devices/configuration/\" + flow.get(\"config\").uuid\n\nreturn msg;","outputs":1,"noerr":0,"x":1250,"y":802,"wires":[["56391adf.5ac7d4"]]},{"id":"aafe3cf9.fd1c8","type":"function","z":"fed0b4a2.7ed9c8","name":"preparating data","func":"let all = msg.topic.substring(msg.topic.indexOf(flow.get(\"config\").uuid));\nmsg.topic = \"device/request\" + all.substring(all.indexOf('/'));\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":680,"wires":[["5d3902e9.23995c"]]},{"id":"61ddee74.708828","type":"function","z":"fed0b4a2.7ed9c8","name":"getDT","func":"msg.topic = \"devices/response/\" + flow.get(\"config\").uuid;\nmsg.payload = JSON.stringify(flow.get(\"time\"));\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":243,"wires":[["56391adf.5ac7d4"]]},{"id":"bd4ddb89.fb10f","type":"debug","z":"4c847ea0.c0678","name":"command processing ESP","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":700,"y":320,"wires":[]},{"id":"f1fd7266.512868","type":"inject","z":"32f555dd.fc3a8a","name":"","topic":"device/request/1a5e19c0-4d92-11ea-bb02-63ffc7623846/1a5e19c0-4d92-11ea-bb02-63ffc7623746","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":809,"wires":[["2225e594.499532"]]},{"id":"d87c84c2.29c0f8","type":"mqtt out","z":"32f555dd.fc3a8a","name":"","topic":"","qos":"","retain":"","broker":"625f9a99.db7604","x":570,"y":809,"wires":[]},{"id":"2225e594.499532","type":"change","z":"32f555dd.fc3a8a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"command\":\"getDT\",\"value\": null,\"client_id\":1}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":809,"wires":[["d87c84c2.29c0f8"]]},{"id":"1bf9d922.e9bef7","type":"function","z":"fed0b4a2.7ed9c8","name":"set init data","func":"msg.payload = 1;\nmsg.topic = \"devices/init/\" + flow.get(\"config\").uuid\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":820,"wires":[["56391adf.5ac7d4"]]},{"id":"8c0ec5f4.944358","type":"switch","z":"fed0b4a2.7ed9c8","name":"","property":"settingDate","propertyType":"flow","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":190,"y":768,"wires":[[],["1bf9d922.e9bef7","1dcbd2.9386842e"]]},{"id":"1dcbd2.9386842e","type":"delay","z":"fed0b4a2.7ed9c8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":200,"y":848,"wires":[["8c0ec5f4.944358"]]},{"id":"bc66f78a.0dc92","type":"function","z":"fed0b4a2.7ed9c8","name":"set settings","func":"msg.topic = \"devices/request/\" + flow.get(\"config\").uuid + \"/#\";\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":880,"wires":[["afbefa7a.6b2508"]]},{"id":"f036dd30.7f0108","type":"switch","z":"5dd98680.e9a9c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"start","vt":"str"},{"t":"eq","v":"finish","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":170,"y":40,"wires":[["b51233d5.91c1a","c2fcee1f.b8d39","7bd046f9.5ab748","a9372100.209b8"],[]]},{"id":"bc0e79df.754ec8","type":"digitaloak-mqtt-in","z":"5dd98680.e9a9c","name":"Mqtt in","qos":"2","datatype":"auto","unsubscribe-after-first-msg-recv":false,"broker":"625f9a99.db7604","x":500,"y":220,"wires":[["eeb70205.2c2d68"]]},{"id":"282f1eb6.abcf4a","type":"mqtt out","z":"5dd98680.e9a9c","name":"Mqttt out","topic":"","qos":"","retain":"","broker":"625f9a99.db7604","x":1320,"y":520,"wires":[]},{"id":"b51233d5.91c1a","type":"function","z":"5dd98680.e9a9c","name":"subscribe to init child devices","func":"msg.topic = \"devices/init/#\";\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":160,"wires":[["bc0e79df.754ec8","e5e5ff47.42a8d8"]]},{"id":"c2fcee1f.b8d39","type":"function","z":"5dd98680.e9a9c","name":"subscribe to config child devices","func":"msg.topic = \"devices/configuration/#\";\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":220,"wires":[["bc0e79df.754ec8","e5e5ff47.42a8d8"]]},{"id":"7bd046f9.5ab748","type":"function","z":"5dd98680.e9a9c","name":"subscribe to data child devices","func":"msg.topic = \"devices/data/#\";\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":280,"wires":[["bc0e79df.754ec8","e5e5ff47.42a8d8"]]},{"id":"a9372100.209b8","type":"function","z":"5dd98680.e9a9c","name":"subscribe to response child devices","func":"msg.topic = \"devices/response/#\";\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":340,"wires":[["bc0e79df.754ec8","e5e5ff47.42a8d8"]]},{"id":"f71b7863.ee282","type":"switch","z":"5dd98680.e9a9c","name":"","property":"group","propertyType":"msg","rules":[{"t":"eq","v":"init","vt":"str"},{"t":"eq","v":"configuration","vt":"str"},{"t":"eq","v":"data","vt":"str"},{"t":"eq","v":"response","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":130,"y":520,"wires":[["d3439b68.42765"],["cece8154.9d275"],["b7deb8b4.9f97"],[],[]]},{"id":"eeb70205.2c2d68","type":"function","z":"5dd98680.e9a9c","name":"getGroup","func":"msg.group = msg.topic.split('/')[1];\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":220,"wires":[["f71b7863.ee282"]]},{"id":"d3439b68.42765","type":"function","z":"5dd98680.e9a9c","name":"getTime","func":"let deviceId = msg.topic.substring(msg.topic.lastIndexOf('/') + 1);\nmsg.topic = \"devices/request/\" + deviceId;\nmsg.payload = JSON.stringify({\"command\":\"setDT\",\"value\": new Date().getTime() / 1000 | 0});\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":420,"wires":[["282f1eb6.abcf4a"]]},{"id":"cece8154.9d275","type":"function","z":"5dd98680.e9a9c","name":"setup params","func":"msg.queryParameters = msg.queryParameters || {};\nmsg.queryParameters.uuid =  msg.topic.substring(msg.topic.lastIndexOf('/') + 1);\nmsg.queryParameters.config = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":500,"wires":[["3b769a6d.199f7e"]]},{"id":"3b769a6d.199f7e","type":"template","z":"5dd98680.e9a9c","name":"format query","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select value from configurations where value_id = $uuid","x":430,"y":540,"wires":[["606697c6.61e4f"]]},{"id":"606697c6.61e4f","type":"postgres","z":"5dd98680.e9a9c","postgresdb":"904a0083.eb5168","name":"config is exist (in db)?","output":true,"perrow":false,"outputs":1,"x":460,"y":580,"wires":[["f7929470.f76828"]]},{"id":"6e5c5a66.f48f9c","type":"function","z":"5dd98680.e9a9c","name":"setup params","func":"msg.queryParameters = msg.queryParameters || {};\nmsg.queryParameters.uuid = msg.topic.substring(msg.topic.lastIndexOf('/') + 1);\nmsg.queryParameters.config = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":500,"wires":[[]]},{"id":"ec8cde54.983448","type":"template","z":"5dd98680.e9a9c","name":"format query","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"insert into configurations (value_id, value) values ($uuid, $config)","x":650,"y":540,"wires":[["b0ddce35.bdddc8"]]},{"id":"b0ddce35.bdddc8","type":"postgres","z":"5dd98680.e9a9c","postgresdb":"904a0083.eb5168","name":"insert config to db","output":true,"perrow":false,"outputs":1,"x":670,"y":580,"wires":[["cece8154.9d275"]]},{"id":"f7929470.f76828","type":"switch","z":"5dd98680.e9a9c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":830,"y":500,"wires":[["5ad28f80.92151"],["ec8cde54.983448"]]},{"id":"5ad28f80.92151","type":"function","z":"5dd98680.e9a9c","name":"preparating data","func":"let deviceId = msg.topic.substring(\"devices/configuration\".length + 1);\nmsg.topic = \"devices/request/\" + deviceId;\nmsg.payload = JSON.stringify({\"command\":\"setConfig\",\"value\":JSON.stringify(msg.payload[0].value)});\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":540,"wires":[["282f1eb6.abcf4a"]]},{"id":"b7deb8b4.9f97","type":"function","z":"5dd98680.e9a9c","name":"setup params","func":"msg.queryParameters = msg.queryParameters || {};\nmsg.queryParameters.uuid = msg.topic.substring(msg.topic.lastIndexOf('/') + 1);\nmsg.payload = JSON.parse(msg.payload);\nmsg.queryParameters.data = msg.payload.value;\nmsg.queryParameters.datetime = msg.payload.datetime;\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":640,"wires":[["846ea068.04ac98"]]},{"id":"846ea068.04ac98","type":"template","z":"5dd98680.e9a9c","name":"format query","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"insert into data (value_id, value, datetime) values ($uuid, $data, $datetime)","x":630,"y":640,"wires":[["6aa8c5a3.940104"]]},{"id":"6aa8c5a3.940104","type":"postgres","z":"5dd98680.e9a9c","postgresdb":"904a0083.eb5168","name":"insert data to db","output":true,"perrow":false,"outputs":1,"x":810,"y":640,"wires":[[]]},{"id":"fa20da6d.a08f9","type":"inject","z":"ff3a4f78.6b09","name":"","topic":"","payload":"start","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":80,"wires":[["4af7c503.48ed04"]]},{"id":"7ce93ae7.a50e84","type":"inject","z":"ff3a4f78.6b09","name":"","topic":"","payload":"finish","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":120,"wires":[["4af7c503.48ed04"]]},{"id":"4af7c503.48ed04","type":"subflow:5dd98680.e9a9c","z":"ff3a4f78.6b09","name":"","x":330,"y":100,"wires":[["1036314f.1975af"],["cf54ada5.b1cd5"],["8b127010.b7b468"],["db92f71c.3ee5d"],["e39950d.62882b"],["21ff8718.170ef"]]},{"id":"e5e5ff47.42a8d8","type":"function","z":"5dd98680.e9a9c","name":"preparating for debug","func":"msg.payload = `SERVER_1   : ${msg.topic}`;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":100,"wires":[[]]},{"id":"cf54ada5.b1cd5","type":"debug","z":"ff3a4f78.6b09","name":"SERVER_1 incoming","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":660,"y":60,"wires":[]},{"id":"8b127010.b7b468","type":"debug","z":"ff3a4f78.6b09","name":"SERVIR_1 subscribe","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":660,"y":100,"wires":[]},{"id":"db92f71c.3ee5d","type":"debug","z":"ff3a4f78.6b09","name":"SERVER_1 incoming from mqtt","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":700,"y":140,"wires":[]},{"id":"e39950d.62882b","type":"debug","z":"ff3a4f78.6b09","name":"SERVER_1 incoming data","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":680,"y":180,"wires":[]},{"id":"1036314f.1975af","type":"debug","z":"ff3a4f78.6b09","name":"SERVER_1 incoming response","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":690,"y":20,"wires":[]},{"id":"25fe3b98.f0ac94","type":"debug","z":"ff3a4f78.6b09","name":"for redeploy","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1490,"y":100,"wires":[]},{"id":"32dc9ef1.1ae082","type":"catch","z":"ff3a4f78.6b09","name":"","scope":null,"uncaught":false,"x":1040,"y":40,"wires":[["b8ec5b5f.d1224"]]},{"id":"b8ec5b5f.d1224","type":"debug","z":"ff3a4f78.6b09","name":"catch","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1220,"y":40,"wires":[]},{"id":"34ebc860.e8a3e","type":"function","z":"fed0b4a2.7ed9c8","name":"preparating data","func":"msg.payload = flow.get(\"config\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1490,"y":680,"wires":[[]]},{"id":"20702009.5760a8","type":"inject","z":"ff3a4f78.6b09","name":"asdasd","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1030,"y":100,"wires":[["f3ab4b43.8c1408"]]},{"id":"f3ab4b43.8c1408","type":"change","z":"ff3a4f78.6b09","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":100,"wires":[["25fe3b98.f0ac94"]]},{"id":"edeca46e.39c548","type":"debug","z":"ff3a4f78.6b09","name":"RPi_1 my response","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1060,"y":220,"wires":[]},{"id":"534afc7c.5aafac","type":"debug","z":"ff3a4f78.6b09","name":"RPi_1 not my response","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1070,"y":260,"wires":[]},{"id":"993d2707.a88ab8","type":"debug","z":"ff3a4f78.6b09","name":"RPi_1 not my request","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1060,"y":300,"wires":[]},{"id":"e10f27ce.b0734","type":"debug","z":"ff3a4f78.6b09","name":"RPi_1 my request","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1050,"y":340,"wires":[]},{"id":"59efd14b.15af48","type":"debug","z":"ff3a4f78.6b09","name":"RPi_1 request command package","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1100,"y":380,"wires":[]},{"id":"266b9bcf.4eb2fc","type":"debug","z":"ff3a4f78.6b09","name":"RPi_1 brockers incoming","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1070,"y":420,"wires":[]},{"id":"ec8a7175.98cbb","type":"debug","z":"ff3a4f78.6b09","name":"RPi_1 config","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1030,"y":460,"wires":[]},{"id":"beb1d596.8ead","type":"debug","z":"ff3a4f78.6b09","name":"RPi_1 date is set","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1050,"y":500,"wires":[]},{"id":"adc1150.2502f68","type":"debug","z":"ff3a4f78.6b09","name":"RPi_1 config is set","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1050,"y":540,"wires":[]},{"id":"95c73451.c6eeb","type":"debug","z":"ff3a4f78.6b09","name":"RPi_1 out to parent brocker","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1080,"y":580,"wires":[]},{"id":"21ff8718.170ef","type":"debug","z":"ff3a4f78.6b09","name":"SERVER_1 insert data is complete","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":220,"wires":[]},{"id":"c436da4c.d37868","type":"inject","z":"32f555dd.fc3a8a","name":"","topic":"devices/request/e6726d82-5868-11ea-bf4c-b06ebf604ea3/eb8b791c-5868-11ea-a84a-b06ebf604ea3","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":1020,"wires":[["5f28a4b7.46f03c"]]},{"id":"ae05152d.796748","type":"mqtt out","z":"32f555dd.fc3a8a","name":"","topic":"","qos":"","retain":"","broker":"b28e38eb.cc26f8","x":670,"y":1020,"wires":[]},{"id":"5f28a4b7.46f03c","type":"change","z":"32f555dd.fc3a8a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"command\":\"setconfig\",\"value\":\"{\\\"delay\\\":20,\\\"notify\\\":true}\",\"client_id\":1}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":1020,"wires":[["ae05152d.796748"]]}]